<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <title>Kate's site</title>
</head>
<body>
    <div>
        <h1><a href="">Кулинарный блог</a></h1>
        <h2>для любителей готовить и есть</h2>
    </div>
    <div>
        <p>Опубликовано: 19.02.2016, 11:40</p>
        <h2><a href="">Густой чечевичный суп по-корейски</a></h2>
        <p>Ингредиенты:
        чечевица зелёная - 400 гр;
        морковь - 2 шт.;
        лук - 1 шт.;
        картофель средний - 4 шт.;
        томаты - 2-3 шт. - по желанию;
        чеснок - 1 головка;
        пряные травы - петрушка, тимьян, орегано - по нескольку веточек или по 1 чл. сушёных;
        маслины без косточек - по желанию;
        соль, перец - по вкусу.</p>
    </div>
    <div>
        <p>Опубликовано: 19.02.2016, 11:45</p>
        <h2><a href="">Засолить капусту быстро</a></h2>
        <p>Ингредиенты:<br>
            1,8 кг капусты;
            100 гр. масла подсолнечного;
            3 шт. кореньев моркови;
            125 гр. сахара;
            3 зуб. чеснока;
            20 гр. крупной соли;
            45 гр. 9% уксуса;
            500 гр. питьевой воды;
            пряности.<br>
            Способ приготовления:<br>
            Подготовленные овощи (капусту и коренья моркови) нашинковать, а чеснок раздавить под прессом. Овощи и пряности смешать в тазу.
            Вскипятить питьевую воду в эмалированной посуде и добавить в нее крупную соль, сахар, масло и 9% уксус. Эти кипящим рассолом залить овощи, сверху капусту придавить крышкой и гнетом. Мариновать капусту в тепле 3 – 5 часов.</p>
    </div>
</body>
</html>